# caches

coverage.svg

*.tool
*.parameter
*.cache

.ideas-github-token

poetry.lock

streamlit.pid

# data
*.isxd



data/*.html

htmlcov/
*.coverage
*.json

*.code-workspace
*.sublime-workspace
*.sublime-project
.idea/

*nohup.out
*config.ini
*nohup.out
*.ipynb_checkpoints
*.DS_Store

test/
*.pyc
*.tmp
*.log
*.ipynb
*__pycache__*
*ipynb_checkpoints/*
